body {
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

a {
  color: peru;
}

.weather-app {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: gray;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}
.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-temperature-details {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.current-details {
  color: #f9f7fe;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
}
.current-temperature-value {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.current-details strong {
  color: peru;
}
.current-temperature-degree {
  font-weight: lighter;
  font-size: 30px;
}
#icon {
  margin-right: 5px;
}
.weather-icon {
  width: 50px;
  align-items: center;
  margin: 0 auto;
  display: block;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.week-container:hover {
  transform: scale(1.5);
}
.week-container {
  padding: 10px;
  border: none;
  transition: transform 0.3s;
  margin: 5px;
  border-radius: 10px;
}
.weather-forecast-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.forecast-temperature {
  padding: 0 10px;
}
.forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  display: flex;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: #f9f7fe;
}
